In [1]:
#IMPORTING LIBRARIES

import pandas as pd

In [2]:
#IMPORTING THE TWO DATAFRAMES

df_unicorn = pd.read_csv('Unicorn_Clean.csv')
df_crunchbase = pd.read_csv('comp.csv')

In [3]:
#CHECKING THE FIRST DATAFRAME

df_unicorn

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor 1,Investor 2,Investor 3,Investor 4
0,0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence,Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group
1,1,SpaceX,100.3,2012-12-01,United States,Hawthorne,Other,Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,NaN
2,2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,Khosla Ventures,LowercaseCapital,capitalG,NaN
3,3,Klarna,45.6,2011-12-12,Sweden,Stockholm,Fintech,Institutional Venture Partners,Sequoia Capital,General Atlantic,NaN
4,4,Canva,40.0,2018-01-08,Australia,Surry Hills,Internet software & services,Sequoia Capital China,Blackbird Ventures,Matrix Partners,NaN
...,...,...,...,...,...,...,...,...,...,...,...
931,931,YipitData,1.0,2021-12-06,United States,New York,Internet software & services,RRE Ventures+,Highland Capital Partners,The Carlyle Group,NaN
932,932,Anyscale,1.0,2021-12-07,United States,Berkeley,Artificial intelligence,Andreessen Horowitz,Intel Capital,Foundation Capital,NaN
933,933,Iodine Software,1.0,2021-12-01,United States,Austin,Data management & analytics,Advent International,Bain Capital Ventures,Silversmith Capital Partners,NaN
934,934,ReliaQuest,1.0,2021-12-01,United States,Tampa,Cybersecurity,KKR,FTV Capital,Ten Eleven Ventures,NaN
935,935,Pet Circle,1.0,2021-12-07,Australia,Alexandria,E-commerce & direct-to-consumer,Prysm Capital,Baillie Gifford & Co.,TDM Growth Partners,NaN

In [4]:
#CHECKING THE COLUMNS IN FIRST DATASET

df_unicorn.columns

Index(['Unnamed: 0', 'Company', 'Valuation ($B)', 'Date Joined', 'Country',
       'City', 'Industry', 'Investor 1', 'Investor 2', 'Investor 3',
       'Investor 4'],
      dtype='object')

In [5]:
#DROPPING THE COLUMNS WHICH ARE IRRELEVANT IN FIRST DATASET

df_unicorn.drop(columns = ['Unnamed: 0','Investor 1', 'Investor 2', 'Investor 3','Investor 4'], axis=1, inplace=True)

In [6]:
#CHECKING THE NEW FIRST DATASET WHICH HAVE BEEN FORMATED

df_unicorn

,Company,Valuation ($B),Date Joined,Country,City,Industry
0,Bytedance,140.0,2017-04-07,China,Beijing,Artificial intelligence
1,SpaceX,100.3,2012-12-01,United States,Hawthorne,Other
2,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech
3,Klarna,45.6,2011-12-12,Sweden,Stockholm,Fintech
4,Canva,40.0,2018-01-08,Australia,Surry Hills,Internet software & services
...,...,...,...,...,...,...
931,YipitData,1.0,2021-12-06,United States,New York,Internet software & services
932,Anyscale,1.0,2021-12-07,United States,Berkeley,Artificial intelligence
933,Iodine Software,1.0,2021-12-01,United States,Austin,Data management & analytics
934,ReliaQuest,1.0,2021-12-01,United States,Tampa,Cybersecurity
935,Pet Circle,1.0,2021-12-07,Australia,Alexandria,E-commerce & direct-to-consumer

In [7]:
#CHECKING THE TYPE OF EACH COLUMN

df_unicorn.dtypes

Company            object
Valuation ($B)    float64
Date Joined        object
Country            object
City               object
Industry           object
dtype: object

In [8]:
#CONVERTING THE 'DATE JOINED' COLUMN FROM AN OBJECT TO A DATETIME

df_unicorn['Date Joined'] = pd.to_datetime(df_unicorn['Date Joined'])
df_unicorn.dtypes

Company                   object
Valuation ($B)           float64
Date Joined       datetime64[ns]
Country                   object
City                      object
Industry                  object
dtype: object

In [9]:
# KEEPING ONLY THE YEAR IN THE COLUMN 'Date Joined',
# DROPPING THE 'Date Joined' COLUMN

df_unicorn['Year Joined'] = df_unicorn['Date Joined'].dt.to_period('Y')
df_unicorn.drop(columns = ['Date Joined'],axis=1, inplace=True)
df_unicorn

,Company,Valuation ($B),Country,City,Industry,Year Joined
0,Bytedance,140.0,China,Beijing,Artificial intelligence,2017
1,SpaceX,100.3,United States,Hawthorne,Other,2012
2,Stripe,95.0,United States,San Francisco,Fintech,2014
3,Klarna,45.6,Sweden,Stockholm,Fintech,2011
4,Canva,40.0,Australia,Surry Hills,Internet software & services,2018
...,...,...,...,...,...,...
931,YipitData,1.0,United States,New York,Internet software & services,2021
932,Anyscale,1.0,United States,Berkeley,Artificial intelligence,2021
933,Iodine Software,1.0,United States,Austin,Data management & analytics,2021
934,ReliaQuest,1.0,United States,Tampa,Cybersecurity,2021
935,Pet Circle,1.0,Australia,Alexandria,E-commerce & direct-to-consumer,2021

In [10]:
#SHIFTING THE COLUMN YEAR BACK TO ITS INITIAL POSITION

shift = df_unicorn.pop('Year Joined')
df_unicorn.insert(2, 'Year Joined', shift)
df_unicorn

,Company,Valuation ($B),Year Joined,Country,City,Industry
0,Bytedance,140.0,2017,China,Beijing,Artificial intelligence
1,SpaceX,100.3,2012,United States,Hawthorne,Other
2,Stripe,95.0,2014,United States,San Francisco,Fintech
3,Klarna,45.6,2011,Sweden,Stockholm,Fintech
4,Canva,40.0,2018,Australia,Surry Hills,Internet software & services
...,...,...,...,...,...,...
931,YipitData,1.0,2021,United States,New York,Internet software & services
932,Anyscale,1.0,2021,United States,Berkeley,Artificial intelligence
933,Iodine Software,1.0,2021,United States,Austin,Data management & analytics
934,ReliaQuest,1.0,2021,United States,Tampa,Cybersecurity
935,Pet Circle,1.0,2021,Australia,Alexandria,E-commerce & direct-to-consumer

In [11]:
#CHECKING THE SECOND DATASET

df_crunchbase

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1.0,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2.0,2014-09-04,2014-03-01,2014-10-14
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878,operating,NaN,NaN,NaN,NaN,1.0,NaN,2014-01-30,2014-01-30
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000,operating,CHN,22,Beijing,Beijing,1.0,2007-01-01,2008-03-19,2008-03-19
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,2010-01-01,2014-07-24,2014-07-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13821,/organization/critical-diagnostics,Critical Diagnostics,http://criticaldiagnostics.com,Biotechnology|Health Diagnostics,2566676,operating,USA,CA,San Diego,San Diego,1.0,2004-01-01,2013-03-26,2013-03-26
13822,/organization/critical-links-solutions,Critical Links,http://www.critical-links.com,Charter Schools|EdTech|Education|K-12 Educatio...,11400000,operating,USA,NJ,Newark,Fairfield,2.0,2008-01-01,2007-10-30,2008-09-01
13823,/organization/critical-media,Critical Media,http://critical-media.com,Games|Video,6200000,operating,USA,NY,New York City,New York,3.0,2002-01-01,2004-01-01,2006-01-01
13824,/organization/critical-mention,Critical Mention,http://www.criticalmention.com,Broadcasting|Internet|Real Time|Social Media M...,2000000,operating,USA,NY,New York City,New York,1.0,NaN,2004-10-06,2004-10-06
13825,/organization/critical-outcome-technologies,Critical Outcome Technologies,http://criticaloutcome.com,Biotechnology,1690312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#CHECKING THE COLUMNS IN SECOND DATASET

df_crunchbase.columns

Index(['permalink', 'name', 'homepage_url', 'category_list',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'first_funding_at',
       'last_funding_at'],
      dtype='object')

In [13]:
#DROPPING THE COLUMNS WHICH ARE IRRELEVANT IN SECOND DATASET

df_crunchbase.drop(columns = ['permalink','homepage_url', 'country_code', 'state_code','region','city','category_list'], axis=1,inplace=True)

In [14]:
#CHECKING THE NEW SECOND DATASET WHICH HAVE BEEN FORMATED

df_crunchbase

,name,funding_total_usd,status,funding_rounds,founded_at,first_funding_at,last_funding_at
0,#fame,10000000,operating,1.0,NaN,2015-01-05,2015-01-05
1,:Qounter,700000,operating,2.0,2014-09-04,2014-03-01,2014-10-14
2,"(THE) ONE of THEM,Inc.",3406878,operating,1.0,NaN,2014-01-30,2014-01-30
3,0-6.com,2000000,operating,1.0,2007-01-01,2008-03-19,2008-03-19
4,004 Technologies,-,operating,1.0,2010-01-01,2014-07-24,2014-07-24
...,...,...,...,...,...,...,...
13821,Critical Diagnostics,2566676,operating,1.0,2004-01-01,2013-03-26,2013-03-26
13822,Critical Links,11400000,operating,2.0,2008-01-01,2007-10-30,2008-09-01
13823,Critical Media,6200000,operating,3.0,2002-01-01,2004-01-01,2006-01-01
13824,Critical Mention,2000000,operating,1.0,NaN,2004-10-06,2004-10-06
13825,Critical Outcome Technologies,1690312,NaN,NaN,NaN,NaN,NaN

In [15]:
#CHECKING THE TYPE OF EACH COLUMN

df_crunchbase.dtypes

name                  object
funding_total_usd     object
status                object
funding_rounds       float64
founded_at            object
first_funding_at      object
last_funding_at       object
dtype: object

In [16]:
#CONVERTING THE 3 DATES COLUMNS FROM AN OBJECT TO A DATETIME

df_crunchbase['founded_at'] = pd.to_datetime(df_crunchbase['founded_at'], errors = 'coerce')
df_crunchbase['first_funding_at'] = pd.to_datetime(df_crunchbase['first_funding_at'], errors = 'coerce')
df_crunchbase['last_funding_at'] = pd.to_datetime(df_crunchbase['last_funding_at'])
df_crunchbase.dtypes

name                         object
funding_total_usd            object
status                       object
funding_rounds              float64
founded_at           datetime64[ns]
first_funding_at     datetime64[ns]
last_funding_at      datetime64[ns]
dtype: object

In [17]:
# KEEPING ONLY THE YEAR IN THE DATES COLUMNS,
# DROPPING THE 3 INITIALS COLUMNS 

df_crunchbase['founded_at'] = df_crunchbase['founded_at'].dt.to_period('Y')
df_crunchbase['first_funding_at'] = df_crunchbase['first_funding_at'].dt.to_period('Y')
df_crunchbase['last_funding_at'] = df_crunchbase['last_funding_at'].dt.to_period('Y')
df_crunchbase

,name,funding_total_usd,status,funding_rounds,founded_at,first_funding_at,last_funding_at
0,#fame,10000000,operating,1.0,NaT,2015,2015
1,:Qounter,700000,operating,2.0,2014,2014,2014
2,"(THE) ONE of THEM,Inc.",3406878,operating,1.0,NaT,2014,2014
3,0-6.com,2000000,operating,1.0,2007,2008,2008
4,004 Technologies,-,operating,1.0,2010,2014,2014
...,...,...,...,...,...,...,...
13821,Critical Diagnostics,2566676,operating,1.0,2004,2013,2013
13822,Critical Links,11400000,operating,2.0,2008,2007,2008
13823,Critical Media,6200000,operating,3.0,2002,2004,2006
13824,Critical Mention,2000000,operating,1.0,NaT,2004,2004
13825,Critical Outcome Technologies,1690312,NaN,NaN,NaT,NaT,NaT

In [18]:
#RENAMING THE COMPANY NAME COLUMN OF THE SECOND DATASET

df_crunchbase.rename(columns={"name":"Company"}, inplace=True)

In [19]:
#FUNCTION ALLOWING TO CHECK THE NUMBER OF MATCHING VALUES BETWEEN THE TWO COMPANIES COLUMNS, 
#OF THE TWO DATASET

common = []

def lower(x):
    return x.lower()
for company in df_unicorn['Company'].apply(lower):
    if df_crunchbase[df_crunchbase['Company'].apply(lower).str.find(company) != -1].shape[0] != 0:
        common.append(company)

In [20]:
#CHECKING THE NUMBER OF MATCHING VALUES

len(common)

148

In [21]:
#MERGING THE TWO DATASETS

df_final = df_unicorn.merge(df_crunchbase, on="Company", how = 'inner')

In [22]:
#CHECKING THE NEW AND FINAL DATASET COMING FROM THE MERGE

df_final

,Company,Valuation ($B),Year Joined,Country,City,Industry,funding_total_usd,status,funding_rounds,founded_at,first_funding_at,last_funding_at
0,Canva,40.0,2018,Australia,Surry Hills,Internet software & services,27955000,operating,6.0,2012,2013,2015
1,Chime,25.0,2019,United States,San Francisco,Fintech,11750000,operating,3.0,2013,2012,2014
2,Chime,25.0,2019,United States,San Francisco,Fintech,-,operating,1.0,2014,2015,2015
3,Benchling,6.1,2021,United States,San Francisco,Internet software & services,5900000,operating,3.0,2012,2014,2015
4,Bolt,6.0,2021,United States,San Francisco,Fintech,16000,operating,1.0,NaT,2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
61,Bringg,1.0,2021,Israel,Tel Aviv,Supply chain logistics & delivery,2500000,operating,1.0,2013,2013,2013
62,Aircall,1.0,2021,United States,New York,Internet software & services,800000,operating,1.0,2014,2015,2015
63,Assembly,1.0,2021,United States,Culver City,Internet software & services,2900000,operating,2.0,2013,2013,2014
64,Augury,1.0,2021,United States,New York,Artificial intelligence,9000000,operating,2.0,2011,2014,2015
65,Contrast Security,1.0,2021,United States,Los Altos,Cybersecurity,-,operating,1.0,2013,2014,2014

In [25]:
df_final.drop(2)

,Company,Valuation ($B),Year Joined,Country,City,Industry,funding_total_usd,status,funding_rounds,founded_at,first_funding_at,last_funding_at
0,Canva,40.0,2018,Australia,Surry Hills,Internet software & services,27955000,operating,6.0,2012,2013,2015
1,Chime,25.0,2019,United States,San Francisco,Fintech,11750000,operating,3.0,2013,2012,2014
3,Benchling,6.1,2021,United States,San Francisco,Internet software & services,5900000,operating,3.0,2012,2014,2015
4,Bolt,6.0,2021,United States,San Francisco,Fintech,16000,operating,1.0,NaT,2013,2013
5,Bolt,6.0,2021,United States,San Francisco,Fintech,3900000,operating,1.0,2013,2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...
61,Bringg,1.0,2021,Israel,Tel Aviv,Supply chain logistics & delivery,2500000,operating,1.0,2013,2013,2013
62,Aircall,1.0,2021,United States,New York,Internet software & services,800000,operating,1.0,2014,2015,2015
63,Assembly,1.0,2021,United States,Culver City,Internet software & services,2900000,operating,2.0,2013,2013,2014
64,Augury,1.0,2021,United States,New York,Artificial intelligence,9000000,operating,2.0,2011,2014,2015
65,Contrast Security,1.0,2021,United States,Los Altos,Cybersecurity,-,operating,1.0,2013,2014,2014